<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Ambiente de Desenvolvimento -->
    <key>aps-environment</key>
    <string>development</string>
    <key>com.apple.developer.applesignin</key>
    <array>
        <string>Default</string>
    </array>

    <!-- Ambiente de Produção -->
    <key>aps-environment</key>
    <string>production</string>
    <!-- Você pode adicionar mais configurações aqui para o ambiente de produção -->

    <key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:pumpapp.page.link/pump</string>
        <string>pump</string>
	</array>
</dict>
</plist>
